.spinner {
	display:flex;
	justify-content:center;
	align-items:center;

	background-color: var(--ow-blue);

	position:absolute;
	z-index: 999;
	inset:50% auto auto 50%;
	transform:translate(-50%, -50%);
	min-width:100%;
	min-height:100%;

	$anim: 75ms ease-in-out;

	&.v-enter-active {
		animation: FadeIn $anim;
	}
	
	&.v-leave-active {
		animation: FadeOut $anim;
	}

	&.inline {
		position:unset;
		inset:unset;
		transform:unset;
		min-width:unset;
		min-height:unset;
	}

	&__icon {
		width: 3rem;
		height: 3rem;
		border: 5px solid #FFF;
		border-left-color: transparent;
		border-right-color: transparent;
		border-bottom-color: transparent;
		border-radius: 50%;
		display: inline-block;
	
		@keyframes Spin { from { transform: rotate(0deg); } to { transform: rotate(360deg); } }
		animation:Spin 500ms linear infinite;
	}
}