$slot_height: 4rem;
$label_padding: 1rem;

.timetable {
	display:flex;
	width:100%;

	&__row-labels {
		display:flex;
		flex-direction:column;
		padding-right:$label_padding;
		justify-content:flex-end;

		&__item {
			display:flex;
			align-items:center;
			justify-content: end;
			word-break:keep-all;
			height:$slot_height;
			color: white;
		}
	}

	&__column-labels {
		display:flex;
		flex-direction:row;
		padding:$label_padding 0;

		&__item {
			display:flex;
			align-items:center;
			justify-content:center;
			flex:1;
			color: white;
		}
	}

	&__data {
		&__wrapper {
			width:100%;
		}

		display:flex;
		flex-direction:row;
		background-color:transparent;

		&__column {
			display:flex;
			flex-direction:column;
			flex:1;

			&__slot {
				height:$slot_height;
				background-color:var(--ow-timetable-unavailable);
				border:4px solid var(--ow-background);
				border-radius:6px;
	
				animation:ScaleIn 0.6s ease-in-out;
	
				&.invalid {
					background-color:var(--ow-timetable-invalid);
				}
	
				&.available {
					background-color:var(--ow-timetable-available);
					
					transition:background-color 75ms, border 75ms;
	
					&:hover {
						background-color:var(--ow-timetable-available-hover);
						cursor:pointer;
						border: 1px solid var(--ow-background);
					}
				}
			}
		}
	}
}