.input-details {
    position:relative;
    z-index:0;

    form {
        legend {}
    
        input[type=date],
        input[type=datetime],
        input[type=datetime-local],
        input[type=email],
        input[type=month],
        input[type=number],
        input[type=password],
        input[type=search],
        input[type=tel],
        input[type=text],
        input[type=time],
        input[type=url],
        input[type=week],
        textarea {
            width: 100%;
        }
    
        textarea {
            height: 15rem;
            max-height: 30rem;
        }
    
        &__submit {
            margin:0 auto;
        }
    
        &__status {
            color:var(--ow-error-light);
        }
    }
}