//libs
@import "~/bootstrap/dist/css/bootstrap.min.css";
@import "~/@fortawesome/fontawesome-free/css/all.min.css";

@import "global";
@import "vars";
@import "keyframes";
@import "utils";

//base
@import "base/inputs";
@import "base/text";

//import components within the vue components themselves